* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.search-box {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
}   

.input-city {
  height: 40px;
  width: 35%;
  border: none;
  font-size: 30px;
  border-radius: 10px;
  font-family:sans-serif;
}

.input-city:focus {
  outline: none;
}

.weather-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.temp {
  font-size: 3rem;
  font-family: sans-serif;
  font-weight: 100;
}

.weather{
    font-size: 3rem;
    font-family: sans-serif;
    font-weight: 100;
}
