* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heading{
    font-size: 50px;
    font-family: sans-serif;
    font-weight: 100;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 20px;
}
.container {
  text-align: center;
  height: 100vh;
  width: 100%;
}

.search-box {
  display: flex;
  justify-content: center;
  width: 40%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 10px;
  border: 2px solid black;
    background-color: white;
}   

.input-city {
  height: 40px;
  width: 40%;
  border: none;
  font-size: 30px;
  border-radius: 10px;
  font-family:sans-serif;
}

.input-city:focus {
  outline: none;
}

.weather-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin: 0 auto;
  border-radius: 10px;
  border: 2px solid black;
  background-color: white;
}

.temp {
  font-size: 50px;
  font-family: sans-serif;
  font-weight: 100;
}

.weather{
    font-size: 50px;
    font-family: sans-serif;
    font-weight: 100;
}
